@font-face {font-family: 'HireNinja-Thin';src: url('../fonts/37E852_0_0.eot');src: url('../fonts/37E852_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_0_0.woff2') format('woff2'),url('../fonts/37E852_0_0.woff') format('woff'),url('../fonts/37E852_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-UltraLightItalic';src: url('../fonts/37E852_1_0.eot');src: url('../fonts/37E852_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_1_0.woff2') format('woff2'),url('../fonts/37E852_1_0.woff') format('woff'),url('../fonts/37E852_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-ThinItalic';src: url('../fonts/37E852_2_0.eot');src: url('../fonts/37E852_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_2_0.woff2') format('woff2'),url('../fonts/37E852_2_0.woff') format('woff'),url('../fonts/37E852_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-SemiBoldItalic';src: url('../fonts/37E852_3_0.eot');src: url('../fonts/37E852_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_3_0.woff2') format('woff2'),url('../fonts/37E852_3_0.woff') format('woff'),url('../fonts/37E852_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-SemiBold';src: url('../fonts/37E852_4_0.eot');src: url('../fonts/37E852_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_4_0.woff2') format('woff2'),url('../fonts/37E852_4_0.woff') format('woff'),url('../fonts/37E852_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-UltraLight';src: url('../fonts/37E852_5_0.eot');src: url('../fonts/37E852_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_5_0.woff2') format('woff2'),url('../fonts/37E852_5_0.woff') format('woff'),url('../fonts/37E852_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Regular';src: url('../fonts/37E852_6_0.eot');src: url('../fonts/37E852_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_6_0.woff2') format('woff2'),url('../fonts/37E852_6_0.woff') format('woff'),url('../fonts/37E852_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-RegularItalic';src: url('../fonts/37E852_7_0.eot');src: url('../fonts/37E852_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_7_0.woff2') format('woff2'),url('../fonts/37E852_7_0.woff') format('woff'),url('../fonts/37E852_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-MediumItalic';src: url('../fonts/37E852_8_0.eot');src: url('../fonts/37E852_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_8_0.woff2') format('woff2'),url('../fonts/37E852_8_0.woff') format('woff'),url('../fonts/37E852_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Medium';src: url('../fonts/37E852_9_0.ttf');src: url('../fonts/37E852_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_9_0.woff2') format('woff2'),url('../fonts/37E852_9_0.woff') format('woff'),url('../fonts/37E852_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-LightItalic';src: url('../fonts/37E852_A_0.eot');src: url('../fonts/37E852_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_A_0.woff2') format('woff2'),url('../fonts/37E852_A_0.woff') format('woff'),url('../fonts/37E852_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Light';src: url('../fonts/Poppins-Light.ttf');src: url('../fonts/37E852_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_B_0.woff2') format('woff2'),url('../fonts/37E852_B_0.woff') format('woff'),url('../fonts/37E852_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-HeavyItalic';src: url('../fonts/37E852_C_0.eot');src: url('../fonts/37E852_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_C_0.woff2') format('woff2'),url('../fonts/37E852_C_0.woff') format('woff'),url('../fonts/37E852_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Heavy';src: url('../fonts/Poppins-Bold.ttf');src: url('../fonts/37E852_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_D_0.woff2') format('woff2'),url('../fonts/37E852_D_0.woff') format('woff'),url('../fonts/37E852_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-ExtraBoldItalic';src: url('../fonts/37E852_E_0.eot');src: url('../fonts/37E852_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_E_0.woff2') format('woff2'),url('../fonts/37E852_E_0.woff') format('woff'),url('../fonts/37E852_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-ExtraBold';src: url('../fonts/37E852_F_0.eot');src: url('../fonts/37E852_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_F_0.woff2') format('woff2'),url('../fonts/37E852_F_0.woff') format('woff'),url('../fonts/37E852_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-BoldItalic';src: url('../fonts/37E852_10_0.eot');src: url('../fonts/37E852_10_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_10_0.woff2') format('woff2'),url('../fonts/37E852_10_0.woff') format('woff'),url('../fonts/37E852_10_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Bold';src: url('../fonts/37E852_11_0.eot');src: url('../fonts/37E852_11_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_11_0.woff2') format('woff2'),url('../fonts/37E852_11_0.woff') format('woff'),url('../fonts/37E852_11_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-BlackItalic';src: url('../fonts/37E852_12_0.eot');src: url('../fonts/37E852_12_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_12_0.woff2') format('woff2'),url('../fonts/37E852_12_0.woff') format('woff'),url('../fonts/37E852_12_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HireNinja-Black';src: url('../fonts/37E852_13_0.eot');src: url('../fonts/37E852_13_0.eot?#iefix') format('embedded-opentype'),url('../fonts/37E852_13_0.woff2') format('woff2'),url('../fonts/37E852_13_0.woff') format('woff'),url('../fonts/37E852_13_0.ttf') format('truetype');}


@font-face {font-family: 'HireNinja-Cabin-Regular';src: url('../fonts/37E852_13_0.eot');src: url('../fonts/Cabin-Regular.ttf') format('truetype');}


@font-face {font-family: 'HireNinja-Cabin-Medium';src: url('../fonts/37E852_13_0.eot');src: url('../fonts/Cabin-Medium.ttf') format('truetype');}


@font-face {font-family: 'HireNinja-Cabin-SemiBold';src: url('../fonts/37E852_13_0.eot');src: url('../fonts/Cabin-SemiBold.ttf') format('truetype');}