@import "variables.scss";
@import "util.scss";
@import "fonts.scss";

*{
  box-sizing: border-box;
}
body {
  margin: 0px !important;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'HireNinja-Cabin-Regular', sans-serif;
  padding: 0;
  background: #FFFFFF;

  h1,h2,h3,h4,h5,h6,p {
    color: $color-primary-dark;
  }
}
.sbf {
  font-family: 'HireNinja-Cabin-SemiBold', sans-serif;
}
.mf {
  font-family: 'HireNinja-Cabin-Medium', sans-serif;
}

.c-purple {
  color: purple;
}
.c-black {
  color: #000000;
}
.c-dark {
  color: #585858;
}
.c-medium {
  color: #858585;
}
.c-light {
  color: #C4C4C4;
}
.c-white {
  color: #FFFFFF;
}
.t-c{
  text-align: center;
}
.t-r{
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.full-screen{
  height: 100vh;
}
.logo{
  width: 110px;
  height: 125px;
}
.icon{
  width: 150px;
  height: 200px;
  display: block;
  margin: 100px auto;
}
.hero-logo{
  max-width: 320px;
  height: auto;
  display: block;
  margin: 10px auto 30px;
}
.tagline{
  font-family: "HireNinja-Bold";
  font-size: 100px;
  color: purple;
}

.text-animation{
    position: relative;
    width: fit-content;
    padding-right: 30px;

    &::before{
      content: "";
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      background: #FFFFFF;
      position: absolute;
      transform: scaleX(0);
      transform-origin: 0 50% 0;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      z-index: 100;
      padding: 20px !important;
      border-radius: 10px;
      animation: example 2s linear;
      overflow: hidden;
    }
  }

@keyframes example {
  0%   {transform: scaleX(1.5); display: block;}
  25%  {transform: scaleX(1);}
  50%  {transform: scaleX(0.5);}
  100% {transform: scaleX(0);}
}