$color-primary-dark: #303133;
$color-primary-dark-light: #adadad;
$color-primary-light: #E5E5E5;
$color-primary-background-light: #F7F8FB;
$primary-font: "Poppins";
$color-white: #FFFFFF;
$color-dark-grey: #858585;
$color-light-grey: #C4C4C4;
$color-extra-light-grey: #F2F2F2;

$color-dashboard-purple: #2E2345;
$login-gradient-webkit: -webkit-gradient(linear, left top, right bottom, from(#4b6cb7), to(#182848));
$login-gradient: linear-gradient(to bottom right, #4b6cb7, #182848);

$shadow-center-black: 0px 0px 20px rgba(0, 0, 0, 0.75);
$shadow-y-grey: 0px 3px 10px grey;

$--color-primary: $color-primary-dark;